<!DOCTYPE html>
<html>
<head>
	<title>Choose your playing 11</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>	
</head>
<body>
	<style>
        body {
            background-image: url('https://images.unsplash.com/photo-1550128936-adfaf4770903?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 100% 100%;

        }

       </style>
	<form id= "select_players" action="/playing11?team1={{teams[0]}}&team2={{teams[1]}}&file={{file}}&type={{match_type}}" method="POST">
		<table name="team1" style="display: inline-block;">

			<caption> 
				{{teams[0]}}
			</caption>
			{% for player in squads[0] %}
				<tr>
					<td>
						{{player}}
					</td>
					<td>
						<input class="team1" type="checkbox" name="{{player}}"></input>
					</td>
				</tr>
			{% endfor %}
		</table>
		<table style="float: left;">
			<caption>
				{{teams[1]}}
			</caption>
			{% for player in squads[1] %}
				<tr>
					<td>
						{{player}}
					</td>
					<td>
						<input class="team2" type="checkbox" name="{{player}}"></input>
					</td>
				</tr>
			{% endfor %}
		</table>
		<input type="submit" name="Confirm">
			Submit
		</input>
	</form>
	<div class="wait">
	</div>
	<script type="text/javascript">
		var groupA = $("input.team1[type='checkbox']");
		var groupB = $("input.team2[type='checkbox']");
		groupA.click(function(e) {
  			if (groupA.filter(":checked").length > 11) {
    			e.preventDefault();
  			}
		});
		groupB.click(function(e) {
  			if (groupB.filter(":checked").length > 11) {
    			e.preventDefault();
  			}
		});

		$("#select_players").submit(function(event){			
			if(groupA.filter(":checked").length<11 || groupB.filter(":checked").length<11){
				alert("Pls select 11 players per team");
				event.preventDefault();
			}
			else{
				document.getElementsByClassName("wait")[0].innerHTML = "Please Wait we are processing your request ... "
			}

			
		})

	</script>
</body>
</html>