body {
 background-image: url("../images/result1.jpg") ;
 background-size:cover;
 height: auto;
 width: 100%;
}

h1 {
    text-align: center;
    color: rgb(7, 65, 182);
    font-size: 3.5em;
    margin-top: 1em;
}

.line1 {  
  margin-top: 4em;
  margin-left: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  grid-row-gap: 40px;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight:20px;
}

.line2 {  
  margin-top: 4em;
  margin-left: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  font-size: large;
  font-weight:40px;
}

p {
  color: white;
}

figcaption {
    color: white;
    text-align: center;
}

.button {
    background: linear-gradient(to bottom, #081482, #004e92);
    position: absolute;
    top: 600px;
    color:white;
    left: 47.5%;
    padding:2px 6px;
    border-radius: 4px;
    font-family: Arial;
    line-height:30px;
    font-size: 1em;
}